In [ ]:
CREATE TABLE customer(
	customer_id SERIAL PRIMARY KEY, 
	first_name VARCHAR(50) NOT NULL,  
	last_name VARCHAR(50) NOT NULL,
	email VARCHAR(100) NOT NULL,
	address VARCHAR(100),
	loyalty_member BOOLEAN DEFAULT FALSE
);

CREATE TABLE ticket(
	ticket_id SERIAL PRIMARY KEY, 
	ticket_name varchar(50) NOT NULL, 
	price NUMERIC(4,2), 
	quantity NUMERIC(2),
	room varchar(50) NOT NULL
);

CREATE TABLE movie(
	movie_id SERIAL PRIMARY KEY, 
	movie_name varchar(50) NOT NULL, 
	discription varchar(200), 
	duration numeric(3),
	room numeric(2)
);

CREATE TABLE theater(
	theater_id SERIAL PRIMARY KEY, 
	adress varchar(100)
);


ALTER TABLE ticket
ADD COLUMN customer_id integer NOT NULL;

ALTER TABLE ticket 
ADD COLUMN theater_id NUMERIC NOT NULL;

ALTER TABLE ticket 
DROP COLUMN customer_id;

ALTER TABLE ticket 
ADD COLUMN customer_id integer NOT NULL;

ALTER TABLE ticket
DROP COLUMN theater_id;


ALTER Table ticket
ADD COLUMN theater_id integer NOT NULL;


ALTER TABLE movie
ADD COLUMN theater_id integer NOT NULL;

ALTER TABLE movie 
ADD COLUMN ticket_id integer NOT NULL;

ALTER TABLE ticket 
ADD FOREIGN KEY(customer_id) REFERENCES customer(customer_id);

ALTER TABLE ticket 
ADD FOREIGN KEY(theater_id) REFERENCES theater(theater_id);

ALTER TABLE movie 
ADD FOREIGN KEY(theater_id) REFERENCES theater(theater_id);

SELECT *
FROM movie;

ALTER TABLE movie
ADD FOREIGN KEY(ticket_id) REFERENCES ticket(ticket_id);